.menu__button {
  background-color: var(--header-bg);
  color: var(--main-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  gap: 15px;
  padding: 5px;
}

.atc__icon {
  filter: invert(85%) sepia(42%) saturate(350%) hue-rotate(307deg)
    brightness(106%) contrast(98%);
}

.out__of__stock {
  background-color: var(--card-text);
}
